// .ui-slider-handle,
// .ui-state-active {
//    outline: none;
//    border-radius: 50%;
//    cursor: pointer;
//    background: #000000;
//    border: 2px solid #FFFFFF;
//    width: 19px;
//    height: 19px;
//    transform: translateY(-2.5px);
// }

.ui-widget.ui-widget-content {
   border: none !important;
   background: #FFF;
}
 
.ui-slider-horizontal .ui-slider-range {
   background: $blue;
}
 
.ui-slider-horizontal {
   height: 4px !important;
}
 
.ui-state-default {
   outline: none; 
   width: 19px !important;
   height: 19px !important;
   transform: translate(-50%, -50%);
   top: 50% !important;
   left: 49.74874371859297%;
   cursor: pointer !important;
   background: #000 !important;
   border: 2px solid #FFFFFF !important;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 6px rgba(42,114,146,.25);
   position: relative;
   box-sizing: border-box;   
   margin-left: 0 !important;
   // border-radius: 50%;
   // cursor: pointer;
   // background: #000000;
   // border: 2px solid #FFFFFF;
   // width: 19px;
   // height: 19px;
   // transform: translateY(-2.5px);
}