.benefits {
   position: relative;
   margin-bottom: 70px;

   &:after {
      position: absolute;
      content: '';
      width: 4px;
      height: 102px;
      background: $text;  
      left: calc(50% - 2px); 
      bottom: -70px;
   }
  
   &__container {
      position: relative;
      display: flex;
      padding-bottom: 80px;
   
      &:before {
         position: absolute;
         content: '';
         width: 2360px;
         height: 100%;
         background: #F3F2F2;
         left: -1124px;
         top: 0;
         z-index: -2;
      }

      &--main {
         padding-bottom: 142px;

         &:before {
            width: 2000px;
         }
      }
   }

   &-block {
      padding: 55px;
      background: #fff;
      position: relative;
      margin-top: -60px;
      width: 100%;

      &:before {
         position: absolute;
         content: '';
         width: 25px;
         height: 251px;
         background: $blue;
         left: -25px;
         top: 0;
      }

      &--main {
         width: 770px;
      }
   }

   &-list {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      &--main {
         grid-template-columns: 1fr 1fr;
      }

      &__item {
         padding: 38px 25px 34px 60px;
         display: grid;
         grid-gap: 25px;
         -ms-grid-rows: 1fr 25px 1fr;

         &--main {
            padding: 38px 25px 34px 25px;
         }

         &--blue {
            background: $blue;
         }

         &--end {
            justify-content: end;
         }

         &.bt {
            border-top: 1px solid #2F2F2F;
         }

         &.bl {
            border-left: 1px solid #2F2F2F;
         }
      }

      &__text {
         width: 190px;
         -ms-grid-row: 3;
         font-weight: normal;
         font-size: 18px;
         line-height: 23px;
      }

      &__wheel {
         position: absolute;
         max-width: 254px;
         left: 254px;
         top: 257px;
      }
   }

   &-car {
      padding-left: 48px;
      margin-left: 66px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transform: translateY(115px);
      
      &-block {
         max-width: 240px;
      }

      &__title {
         font-weight: 600;
         font-size: 36px;
         line-height: 46px;
      }

      &__text {
         font-size: 18px;
         line-height: 23px;
         margin: 35px 0;
      }
   }
}