.calculator {
   margin-top: 52px;

   &-tabs {
      display: flex;
   }

   &-tab {
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $grey;
      margin-right: 38px;
      padding-bottom: 8px;
      transition: all 0.3s;

      &:before {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background: $blue;
         transition: all 0.3s;
         opacity: 0;
         bottom: 0;
      }

      &--active {
         color: #fff;

         &:before {
            opacity: 1;
         }
      }

      &:hover {
         color: #fff;
      }
   }

   &-sliders {
      margin-top: 40px;
      display: none;
      grid-template-columns: 350px 350px;
      grid-column-gap: 70px;
      grid-row-gap: 32px;
      align-items: end;

      &--active {
         display: grid;
      }
   }

   &-slider {

      &__top {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         margin-bottom: 7px;
      }

      &__sum {
         font-weight: 450;
         font-size: 38px;
         line-height: 49px;
         color: #fff;

         &--small {
            font-size: 18px;
            text-transform: uppercase;
         }
      }

      &__text {
         font-weight: 450;
         font-size: 13px;
         line-height: 17px;
         color: $grey;
         transform: translateY(-13px);
      }   

      &__labels {
         margin-top: 17px;
         display: flex;
         justify-content: space-between;
      }
      
      &__label {
         font-weight: 450;
         font-size: 13px;
         line-height: 17px;
         color: $grey;

         &--move {
            transform: translateX(10px);
         }
      }
   }

   &-result {
      color: #fff;
      

      &__small {
         font-weight: normal;
         font-size: 16px;
         line-height: 21px;
         margin-right: 8px;
      }

      &__sum {
         font-weight: 450;
         font-size: 38px;
         line-height: 21px;
         color: $blue;
      }

      &__ruble {
         font-size: 18px;
      }

      &__total {
         font-weight: 450;
         font-size: 18px;
         line-height: 23px;
      }
   }
}

