.hero {
   background-color: #212121;
   padding-top: 70px;
   
   &__container {
      position: relative;
      padding-bottom: 115px;
   }

   &-breadcrumbs {
      margin-bottom: 50px;

      &__link {
         font-weight: normal;
         font-size: 18px;
         line-height: 23px;
         color: #fff;
         text-decoration: none;
         position: relative;
         margin-right: 13px;
         
         &:not(:first-child) {
            padding-left: 30px;
           
            &:before {
               position: absolute;
               content: '';
               width: 15px;
               height: 1px;
               background: #fff;
               left: 0;
               top: 12px;
            }
         }
      }
   }

   &__title {
      max-width: 620px;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      color: $blue;
      margin-bottom: 18px;
   }

   &__ruble {
      font-weight: 600;
      font-size: 24px;
      color: $blue
   }

   &__subtitle {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      max-width: 657px;

      &--main {
         max-width: 100%;
      }
   }

   &__text {
      color: #fff;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      max-width: 657px;
      margin-top: 40px;
   }

   &-right {
      position: absolute;
      bottom: 0;
      right: -150px;

      &:before {
         position: absolute;
         content: '';
         width: 471px;
         height: 181px;
         background: $blue;
         mix-blend-mode: multiply;
         bottom: 113px;
         left: 105px;
      }

      &--main {
         right: -150px;
         bottom: -440px;
      }

      &--vertical {

         &:before {
            width: 255px;
            height: 450px;
            left: 213px;
         }
      }
   }

   &__img {
      max-width: 767px;
      display: block;

      &--main {
         position: absolute;
         right: -150px;
         bottom: -440px;
      }
   }
}