.short-form {
   margin-bottom: 120px;

   &--main {
      margin-top: 0;
   }

   &--description {
      margin-top: 115px;
   }

   &__bg {
      position: relative;
      padding-bottom: 40px;
      display: flex;
      justify-content: flex-end;
      padding-right: 0;

      &:before {
         position: absolute;
         content: '';
         width: 4px;
         height: 102px;
         background: $text;
         left: 170px;
         bottom: -51px;
      }

      &:after {
         position: absolute;
         content: '';
         width: calc(100% + 140px);
         height: 152px;
         background: #F3F2F2;
         right: -140px;
         bottom: 0;
         z-index: -1;
      }

      &--main {
         padding-bottom: 44px;

         &:after {
            height: 100%;
         }
      }
   }

   &__form {
      width: 770px;
      position: relative;
      background: $text;
      padding: 30px 50px 35px 60px;
      // margin-right: 100px;
      // transform: translateY(-25px);
      margin-top: -25px;

      &:before {
         position: absolute;
         content: '';
         width: 25px;
         height: calc(100% - 34px);
         background: $blue;
         left: 0;
         top: 0;
      }
   }

   &__title {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
   }
}