.steps {
   padding-bottom: 125px;
  
   &--main {
      padding-top: 30px;
   }

   &--zaim-pod-pts {
      margin-top: -20px;
   }

   &-list {
      margin-top: 60px;
      background: url(/assets/images/steps-bg.png) no-repeat center;
      background-size: 867px;

      &__row {
         display: flex;
         justify-content: space-between;

         &--1 {
            margin-bottom: 250px;
         }
      }
   }

   &-item {
      max-width: 271px;

      &__num {
         font-weight: 600;
         font-size: 34px;
         line-height: 44px;
         color: $blue;
      }

      &__title {
         font-weight: 600;
         font-size: 24px;
         line-height: 31px;
      }

      &__text {
         margin-top: 16px;
         font-weight: normal;
         font-size: 18px;
         line-height: 23px;
      }

      &--left {
         margin-left: 80px;
      }

      &--right {
         margin-right: 40px;
      }
   }
}