.types {
   padding-bottom: 220px;

   &--main {
      padding-bottom: 140px;
   }
   
   &__container {
      display: flex;
      justify-content: space-between;
   }

   &-moto {
      margin-top: 30px;
      background: url(/assets/images/types.png) no-repeat;
      background-size: 550px;
      width: 550px;
      padding: 63px 0;
      display: flex;
      justify-content: center;

      &--main {
         margin-top: 142px;
      }

      &--car {
         background: url(/assets/images/types-car.png) no-repeat;
         background-size: contain;
      }

      &__ul {
         list-style: none;
         display: flex;
         flex-direction: column;
         max-width: 200px;
         transform: translateX(12px);
      }

      &__li {
         position: relative;
         color: #fff;
         padding-left: 52px;
         font-weight: 450;
         font-size: 18px;
         line-height: 36px;

         &:before {
            position: absolute;
            content: '';
            width: 25px;
            height: 1px;
            background: #fff;
            left: 0;
            top: 18px;
         }

         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   &-grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 270px 270px;
      grid-template-rows: 120px 120px;
      grid-gap: 30px;
      -ms-grid-columns: 270px 30px 270px;
      -ms-grid-rows: 120px 30px 120px 30px 120px;
      position: relative;

      &:before {
         content: "";
         width: 100%;
         height: 290px;
         background: #F3F2F2;
         position: absolute;
         right: -137px;
         z-index: -1;
         bottom: -80px;
      }

      &:after {
         position: absolute;
         content: "";
         width: 4px;
         height: 180px;
         background: #000;
         bottom: -220px;
         left: 283px;
      }

      &--main {
         grid-template-rows: 120px 120px 120px;

         &:after {
            height: 80px;
            bottom: -120px;
         }
      }

      &__wrap {
         position: relative;
      }

      &__item {
         background: #fff;
         padding-top: 22px;
         padding-left: 30px;
         padding-bottom: 23px;
         display: flex;
         align-items: flex-end;
         border: 1px solid #212121;
         font-weight: 600;
         font-size: 24px;
         line-height: 30px;
         padding-right: 50px;
         transition: all 0.4s;
         position: relative;

         &:hover {
            // color: red;
            // align-items: flex-start;
            color: #fff;
            background: $text;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: flex-start;
            // padding-top: 22px;

            .types-grid__title {
               transform: translateY(-45px);
            }

            .types__link {
               opacity: 1;
            }
         }
      }

      &__title {
         display: block;
         transition: color 2s;
         transition: transform 0.3s;
      }
   }

   &__link {
      position: absolute;
      display: flex;
      // max-width: 65%;
      opacity: 0;
      color: #fff;
      transition: all 0.3s;

      .link-arrow__icon {
         transform: translateY(8px);
      }
   }
}