.way {
   margin-bottom: 190px;

   &__container {
      position: relative;
      margin-top: 20px;
      padding-top: 60px;
      padding-bottom: 80px;
   
      &:before {
         position: absolute;
         content: '';
         width: 4px;
         height: 150px;
         background: $text;
         left: 295px;
         bottom: -104px;
      }

      &:after {
         position: absolute;
         content: '';
         width: 2334px;
         height: 100%;
         background: #F3F2F2;
         left: -1124px;
         top: 0;
         z-index: -2;
      }
   }

   &-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 60px;
      -ms-grid-columns: 1fr 60px 1fr;
      max-width: 880px;
      margin: 0 auto;
      position: relative;
   }

   &-item {
      padding-left: 60px;
      padding-top: 50px;
      padding-bottom: 54px;
      padding-right: 55px;
      background: #fff;
      z-index: 3;

      &--1 {
         position: relative;
         max-height: 402px;

         &:before {
            position: absolute;
            content: '';
            width: 25px;
            height: 192px;
            background: $blue;
            left: -25px;
            top: 0;
         }
      }

      &--2 {
         -ms-grid-column: 3;
         max-height: 252px;
      }

      &__top {
         display: flex;
         justify-content: space-between;
      }

      &__title {
         font-weight: 600;
         font-size: 24px;
         line-height: 30px;
         max-width: 150px;
      }
   }

   &-ul {
      margin-top: 38px;
      list-style: none;

      &__li {
         position: relative;
         padding-left: 50px;
         font-size: 18px;
         line-height: 23px;
         margin-bottom: 25px;
   
         &:before {
            position: absolute;
            content: '';
            width: 30px;
            height: 2px;
            background: $blue;
            left: 0;
            top: 12px;
         }
      }
   }

   &-blue {
      position: absolute;
      background: $blue;
      height: 340px;
      width: 446px;
      color: #fff;
      padding: 111px 59px 60px 135px;
      z-index: 1;
      top: 192px;
      right: 100px;

      &__text {
         font-weight: 600;
         font-size: 18px;
         line-height: 30px;
      }

      &__strong {
         margin-top: 6px;
         margin-bottom: 35px;
         font-weight: 600;
         font-size: 48px;
         line-height: 62px;
      }
   }
}